@using Microsoft.AspNetCore.Rewrite.Internal
@model IEnumerable<BangazonAPI.Models.TrainingProgram>

@{
    ViewData["Title"] = "Index";
}

<h1>Bangazon Training Programs</h1>

<p>
    <a asp-action="Create">Create New</a> |
    @Html.ActionLink("View Past Programs", "Index", new { _pastprograms = "true" }) |
    @Html.ActionLink("View Current Programs", "Index", new { _pastprograms = "false" })
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MaxAttendees)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Attendees)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StartDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EndDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MaxAttendees)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
            @Html.ActionLink("Details", "Details", new { id = item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.Id })
        </td>
    </tr>

}
    </tbody>
</table>
