@using BangazonAPI.Models
@model BangazonAPI.Models.Department

@{
    ViewData["Title"] = "Details";
}

<h1>Department: @Html.DisplayFor(model => model.Name)</h1>
<hr />
<div>
    <h4>@Html.DisplayNameFor(model => model.Budget):</h4>
    <dl class="row">
        <dd class="col-sm-10">
            @Html.DisplayFor(model => Model.Currency)
        </dd>
        <hr />
    </dl>
    <h4>@Html.DisplayNameFor(model => model.Employees):</h4>
        <dl class="row">
            @if (Model.Employees.Count > 0)
            {
                foreach (Employee item in Model.Employees)
                {
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => item.FullName)
                    </dd>

                }
            }
            else
            {
                <dd class="col-sm-10">
                    No Employees hired.
                </dd>
            }
        </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    <a asp-action="Index">Back to List</a>
</div>
